.appWrapper {
    display: grid;
    grid-template-rows: 64px 1fr;
    justify-items: center;
    padding: 36px 64px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    height: 42px;
    border-radius: 5px;
    background-color: rgb(43, 137, 224);
    color: white;
}

.headerPokedex {
    border: 2px solid black;
    margin: 0;
    padding: 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    max-height: calc(100vh - 222px);
    overflow: scroll;
    overflow-x: hidden;
}

.pokemonCards::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

.pokemonCards::-webkit-scrollbar-thumb {
	background-color: #000000;
}


.pokemonsCardsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 24px;
}

.grid {
    display: grid;
    justify-items: center;
}