.pokemonCard {
    border: 2px solid black;
    display: grid;
    justify-items: center;
    padding: 16px;
}

.typesWrapper {
    display: flex;
    margin: 4px;
    column-gap: 4px;
}

.pokemonType {
    border-radius: 4px;
    padding: 2px 4px;
    line-height: 20px;
    font-size: 14px;
}

.pokemonName {
    font-weight: 600;
}